{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-3">
    <h3 class="text-center">Our Collections</h3>
    <p class="text-center" style="line-height:1.9">
        A variety of collections and discounts in our store. Happy Shopping!
    </p>

    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                {% for category in categories %}
                    <div class="col-lg-4 mb-4">
                        <div class="single-banner" style="position: relative;">
                            <img src="{{ category.image.url }}" alt="{{ category.name }}" class="img-fluid">
                            <div class="inner-text text-center mt-2">
                                <h4>{{ category.name }}</h4>
                            </div>
                            <div class="text-center mt-3" style="position: relative; z-index: 10;">
                                <a href="{% url 'shop:products' category.id %}" class="btn btn-primary">View Products</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
