<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<img src="{{cat.image.url}}" class="rounded mx-auto d-block mt-5" alt="..." height="400px">
<h2 class="text-center mt-3">{{cat.name}}</h2>
<h4 class="mt-4 text-center text-warning">{{cat.description}}</h4>

   <div class="popular-items pt-50">
            <div class="container-fluid">
                <div class="row">
                    {% for i in product %}
                    <div class="col-lg-3 col-md-6 col-sm-6">

                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <img src="{{i.image.url}}" alt="" height="250px">
                                <div class="img-cap">
                                    <span>{{i.name}}</span>
<!--                                    <p>{{i.description}}</p>-->
                                </div>
                                <div class="favorit-items">
                                 <a href="{% url 'shop:product_details' i.id %}" class="btn">Shop Now</a>
                             </div>
                               <p>{{i.description}}</p>
                         </div>
                     </div>
                 </div>

{% endfor %}
    </div>
</div>
</div>
{% endblock %}